*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: white;
  box-sizing: border-box;
  font-family: $themeFont;
  font-weight: $fontWeightRegular;
  min-width: 320px;
}

p a {
  color: $linkColor;
  text-decoration: none;
  border-bottom: .05em solid transparent;
  transition: color .3s, border-color .3s;

  &:hover {
    border-color: currentColor;
  }

  .app--dark & {
    color: lighten($linkColor, 40%);
  }
}

.app {
  transition: background-color .3s, color .3s;

  &--intro {
    position: absolute;
    overflow-y: scroll;
    height: 100%;
    width: 100%;

    .wrapper {
      height: 100%;
      position: absolute;
      overflow: hidden;
      width: 100%;
    }
  }

  &--initial {
    .header ~ * {
      display: none;
    }
  }

  &--dark {
    background: black;
    color: white;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $fontWeightRegular;
  margin: 0;
}
