*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: white;
  box-sizing: border-box;
  font-family: $themeFont;
  font-weight: $fontWeightRegular;
  min-width: 320px;
}

p a {
  color: $linkColor;
  text-decoration: none;
  border-bottom: 0.05em solid transparent;
  transition: color 0.3s, border-color 0.3s;

  &:hover {
    border-color: currentColor;
  }

  .app--dark & {
    color: $linkColorDark;
  }
}

.app {
  padding: 1em 0 0;
  transition: background-color 0.3s, color 0.3s;

  &--intro {
    position: absolute;
    overflow-y: scroll;
    height: 100%;
    width: 100%;

    .wrapper {
      height: calc(100% - 1em);
      position: absolute;
      overflow: hidden;
      width: 100%;
    }
  }

  &--initial {
    .header ~ * {
      display: none;
    }
  }

  &--dark {
    background: black;
    color: white;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $fontWeightRegular;
  margin: 0;
}
