.header {
  height: 6.6em;
  margin: 0 auto;
  max-width: calc(100% - 2em);
  position: relative;
  width: $desktop;

  ~ .section,
  &__light,
  &__links {
    transition: opacity .3s ease-out, transform .5s ease-out;
  }

  + .section {
    transition-delay: .2s;
  }

  + .section + .section {
    transition-delay: .4s;
  }

  &--animating {
    margin: 0;
    max-width: none;
    position: static;

    & ~ .section,
    .header__light,
    .header__links {
      opacity: .0001;
      pointer-events: none;
      transform: translateY(-1em);
    }
  }

  &__light {
    appearance: none;
    background: none;
    border-radius: 0;
    border: 0;
    color: inherit;
    cursor: pointer;
    outline: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;

    .fa {
      font-size: 2em;
      width: .9em;
      text-align: center;
      transition: color .3s;
    }

    .app--desktop & {
      &:hover {
        color: $linkColor;
      }
    }

    .app--desktop.app--dark & {
      &:hover {
        color: yellow;
      }
    }
  }

  &__links {
    bottom: 0;
    position: absolute;
    right: 0;
    z-index: 1;

    @include mq-below(400px) {
      overflow: hidden;
      top: 3.3em;
      width: 9em;

      .fa {
        height: 1.2em;
        width: 1em;
        text-align: center;
      }
    }
  }
}

.logo {
  display: block;
  height: 6.6em;
  max-height: 60vh;
  max-width: 50vw;
  position: absolute;
  transform: none;
  width: 6em;

  .header--intro & {
    height: 100%;
    width: 100%;
  }

  .header--animating & {
    transition: all .5s .4s ease-out;
  }

  @include mq-below($tablet) {
    max-height: 80vh;
    max-width: 70vw;

    .header--animating & {
      transition: all .4s .4s ease-out;
    }
  }
}

.contact-link {
  color: inherit;
  display: inline-block;
  margin: 0 0 0 1em;
  position: relative;

  &::before {
    background: black;
    border-radius: .2em;
    color: white;
    content: attr(data-hover);
    display: inline-block;
    font-family: $themeFont;
    font-size: .9em;
    left: 50%;
    line-height: 2em;
    opacity: 0;
    padding: 0 .5em;
    pointer-events: none;
    position: absolute;
    top: -2.2em;
    transform: translateX(-50%) translateY(2em);
    transition: opacity $transitionSpeed, transform $transitionSpeed;
    white-space: nowrap;
  }

  &:hover {
    &::before {
      opacity: 1;
      pointer-events: all;
      transform: translateX(-50%);
    }
  }

  .header & {
    &:last-child {
      &::before {
        left: auto;
        right: 0;
        transform: translateY(2em);
      }

      &:hover {
        &::before {
          transform: none;
        }
      }
    }
  }

  .fa {
    font-size: 2em;
  }
}
