// sizes
$tablet: 768px;
$desktop: 980px;

// fonts
$themeFont: "Roboto", sans-serif;
$themeFontCon: "Roboto Condensed", sans-serif;
$fontWeightRegular: 300;

// colors
$linkColor: #2e7891;
$linkColorDark: lighten($linkColor, 40%);

// animations
$transitionSpeed: 0.3s;
$siteGateSpeed: 0.6s;

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

// utils
@mixin mq-below($px) {
  @media (max-width: $px - 1) {
    @content;
  }
}

@mixin mq-above($px) {
  @media (min-width: $px) {
    @content;
  }
}

@mixin mq-between($from, $to) {
  @media (min-width: $from) and (max-width: $to - 1) {
    @content;
  }
}
