// sizes
$tablet: 768px;
$desktop: 980px;

// fonts
$themeFont: 'Roboto', sans-serif;
$themeFontCon: 'Roboto Condensed', sans-serif;
$fontWeightRegular: 300;

// colors
$mainTextColor: #444;
$lightTextColor: #666;
$linkColor: #208AAD;

// animations
$transitionSpeed: .3s;
$siteGateSpeed: .6s;

@keyframes rotate {
  0%   { transform: rotate(0deg);   }
  100% { transform: rotate(359deg); }
}

@keyframes fade-out {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}

// utils
@mixin mq-below($px) {
  @media (max-width: $px - 1) {
    @content;
  }
}

@mixin mq-above($px) {
  @media (min-width: $px) {
    @content;
  }
}

@mixin mq-between($from, $to) {
  @media (min-width: $from) and (max-width: $to - 1) {
    @content;
  }
}
