$site-tiles: (
  trouserpress: #ef863c,
  matador: #ae4949,
  tmbgjh: #444,
  tempt: #256d3b,
  doomsday: #356483,
  miracleworkers: #e97b81,
  bandersnatch: #162123,
  realcountry: #484897,
  savethedate: #d484a4,
  purge: #681c1d,
  arrested: #e17c42,
  parquet: #c55347,
  jicks: #3d3c3c,
  bmdj: #34464a,
  wanna: #50374d,
  breeders: #dcc33d,
  strangerthings: #a42b29,
  ecoin: #1e4079,
  mon: #6e4323,
  lph: #569eca,
  bcs: #c63c40,
  blackmirror: #f4a999,
  gilmore: #8ab4c6,
  lhf: #e9aa26,
  spotify: #61a942,
  mrrobot: #333,
  sense8: #71af8f,
  glc: #a62037,
  wocket: #444,
  ccf: #a0427b,
  mayo: #21478a,
  sonos: #efb32f,
  gg: #227ab7
);

@each $tile, $color in $site-tiles {
  .site-tile--#{$tile} {
    background: url('./assets/site-image-#{$tile}.jpg') center top;
    background-size: cover;
    color: white;

    .site-logo-gate::before{
      background-color: $color;
      background-image: url('./assets/site-logo-#{$tile}.png');
    }

    $bg-color: rgba(mix($color, black, 85%), .95);

    .site-link {
      background-color: $bg-color;

      &:hover:not(.mobile-link) {
        background-color: mix($color, white, 95%);
      }
    }

    .app--desktop & {
      &.site-tile:not(.closing):hover .site-caption {
        background-color: $bg-color;
      }
    }

    &.active .site-caption {
      background-color: $bg-color;
    }
  }
}

$photo-tiles: (
  instagram,
  flickr,
  tmbg2018,
  tmbg2015jan,
  om2015jan,
  mm2014may,
  tmbg2013aug,
  mt2013june,
  sufjan2011
);

@each $tile in $photo-tiles {
  .site-tile--#{$tile} {
    .site-photo {
      background-image: url('./assets/photo-#{$tile}.jpg');
    }
  }
}
