$site-tiles: (
  bmawful: #681515,
  discogs: #1f1f1f,
  davis: #006ea1,
  nightmare: #d16200,
  adh: #866400,
  ken: #0095c4,
  rezi: #b30000,
  halo: #6498af,
  wwe: #003b61,
  thirst: #d37aff,
  ondioline: #441608,
  sbtb: #d33371,
  spotify: #4e9b2d,
  franz: #2e2319,
  insidejob: #274435,
  homeshake: #53668f,
  tmbghotel: #ff6930,
  dundermifflin: #1b7ba9,
  zazzgenerator: #3e3256,
  unpregnant: #31336b,
  ralph: #d73494,
  trouserpress: #ef863c,
  exit: #444661,
  matador: #ae4949,
  tmbgjh: #444,
  tempt: #256d3b,
  doomsday: #356483,
  miracleworkers: #e97b81,
  bandersnatch: #162123,
  realcountry: #484897,
  savethedate: #d484a4,
  purge: #681c1d,
  arrested: #e17c42,
  parquet: #c55347,
  jicks: #3d3c3c,
  bmdj: #34464a,
  wanna: #50374d,
  breeders: #dcc33d,
  strangerthings: #a42b29,
  ecoin: #1e4079,
  mon: #6e4323,
  lph: #569eca,
  bcs: #c63c40,
  blackmirror: #f4a999,
  gilmore: #8ab4c6,
  lhf: #e9aa26,
  mrrobot: #333,
  sense8: #71af8f,
  glc: #a62037,
  wocket: #444,
  ccf: #a0427b,
  mayo: #21478a,
  sonos: #efb32f,
  gg: #227ab7,
);

@each $tile, $color in $site-tiles {
  .site-tile--#{$tile} {
    .site-logo-gate::before {
      background-color: $color;
      background-image: url("./assets/site-logo-#{$tile}.png");
    }

    $bg-color: rgba(mix($color, black, 85%), 0.95);

    .site-link {
      background-color: $bg-color;

      &.archived {
        cursor: default;

        &::before {
          content: none;
        }
      }

      &:hover:not(.archived) {
        background-color: mix($color, white, 95%);
      }
    }

    .app--desktop & {
      &.site-tile:not(.closing):hover .site-caption {
        background-color: $bg-color;
      }
    }

    &.active .site-caption {
      background-color: $bg-color;
    }
  }
}
